body{
    font-family: 'Slabo 27px', serif;
    font-style: normal;
    background-color: rgba(46, 156, 189, 0.212);

}

#body {
    background-color: white;
}

.text-center {
    margin-top: 30px;
    font-size: large;
}

.inputs {
    margin-top: 90px;
}

.submit-options {
    margin-left: 1050px;
    margin-bottom: 20px;
    font-size: large;
}

.SubmitOptions {
    display: flex;
    justify-content: center;  /* Align horizontally to the center */
    align-items: center;      /* Align vertically to the center */
    height: 100%;             /* Adjust this value if needed */
    margin-bottom: 10px;
}

.col-lg-1 {
    margin-left: 600px;
}

#petr {
    width:100px;
    margin-bottom: -60px;
}

#submit {
    display: flex;
    justify-content: center;  /* Align horizontally to the center */
    align-items: center;      /* Align vertically to the center */
    height: 100%;             /* Adjust this value if needed */
    margin-left: 50px;
}

#border-table {
    background-color: rgba(255, 255, 255, 0.185);
    border: 2px solid black;
    font-size: large;
}

#head {
    background-color: rgba(46, 156, 189, 0.212)
}

#sortingChoices {
    width: 100px;
    margin-bottom: 20px;

}
#dept-select {
    background-color: rgba(218, 212, 212, 0.452);
    box-shadow: 5px 5px 10px rgba(0,0, 0, 0.15);
    border-width: 1px;
    color:rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    transition: background-color 0.15s,
        color 0.15s;
}

#prereqsHeader {
    width:300px;
}


